
  
  .navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b4d80; 
    padding: 10px 20px;
    height:50px;
  }
  
  .nav-links {
    margin-left: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
  }
  
  .nav-links li {
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #aedcff;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2a5b90;
    padding: 10px;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu li {
    margin: 5px 0;
  }
  
  .dropdown-menu.wide {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu a {
    color: white;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    color: #aedcff;
  }
  
  .search-bar {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #005A8B;
    border-radius: 4px;
  }
  
  .search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
  }
  
  .search-results {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: #1b4d80;
    border: 1px solid #444;
    border-radius: 4px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .search-result-item {
    padding: 8px;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s;
  }
  
  .search-result-item:hover {
    background-color: #1b4d80;
  }
  
  .game-name {
    font-size: 14px;
  }